{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
  <div class="cover">
    <h1 class="logo">FreeBaram Top10 Rank</h1>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="login">
    <h1>test</h1>
    this is top 10 rank
        <div class="form-group">
          <a href="{% url 'feeds' %}" class="btn btn-link">{% trans 'Main Page' %}</a>
        </div>
    </div>
  </div>
{% endblock body %}
